<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 告诉xml文件，去找哪一个dao -->
<mapper namespace="com.my.programmer.dao.DormDao">
	
	<select id="findByFloorNo" parameterType="String" resultType="Dormitory">
		select * from t_dormitory where floorNo = #{floorNo}
	</select>

	<update id="add" parameterType="Dormitory">
		insert into t_dormitory(floorNo,dormNo,bedCount,stayCount) values(#{floorNo},#{dormNo},#{bedCount},#{stayCount})
	</update>

	<select id="findList" parameterType="Map" resultType="Dormitory">
		select * from t_dormitory where floorNo like #{floorNo} and dormNo like #{dormNo} limit #{offset},#{pageSize}
	</select>

	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(id) from t_dormitory where dormNo like #{dormNo}
	</select>

	<select id="findByDormNo" parameterType="String" resultType="Dormitory">
		select * from t_dormitory where dormNo = #{dormNo}
	</select>

	<update id="edit" parameterType="Dormitory">
		update t_dormitory set floorNo = #{floorNo},dormNo = #{dormNo},bedCount = #{bedCount},stayCount = #{stayCount} where id=#{id}
	</update>

	<update id="delete" parameterType="long">
		delete from t_dormitory where id=#{id}
	</update>


	<select id="getBedCount" parameterType="Map" resultType="Integer">
		select bedCount from t_dormitory where dormNo = #{dormNo} and floorNo = #{floorNo}
	</select>

	<select id="findAll" parameterType="String" resultType="Dormitory">
		select * from t_dormitory
	</select>

	<select id="queryByIdFromStu" resultType="Dormitory">
		select * from t_dormitory where id = #{id}
	</select>

	<select id="findByDormMap" resultType="Student">
		select * from t_stu where floorNo = #{floorNo} and dormNo = #{dormNo}
	</select>


</mapper>