<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 告诉xml文件，去找哪一个dao -->
<mapper namespace="com.my.programmer.dao.HouseParentDao">
	
	<select id="findByWorkNo" parameterType="String" resultType="HouseParent">
		select * from t_hp where workNo = #{workNo}
	</select>

	<update id="add" parameterType="HouseParent">
		insert into t_hp(workNo,name,phone,gender,floorNo) values(#{workNo},#{name},#{phone},#{gender},#{floorNo})
	</update>

	<select id="findList" parameterType="Map" resultType="HouseParent">
		select * from t_hp where name like #{name} limit #{offset},#{pageSize}
	</select>

	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(id) from t_hp where name like #{name}
	</select>

	<update id="edit" parameterType="HouseParent">
		update t_hp set workNo = #{workNo},name = #{name},phone = #{phone},gender=#{gender},floorNo=#{floorNo} where id=#{id}
	</update>

	<update id="delete" parameterType="long">
		delete from t_hp where id=#{id}
	</update>

	<select id="findByFloorNo" parameterType="String" resultType="HouseParent">
		select * from t_hp where floorNo = #{floorNo}
	</select>

	<select id="findByPhone" parameterType="String" resultType="HouseParent">
		select * from t_hp where phone = #{phone}
	</select>

	<select id="findAll" parameterType="String" resultType="HouseParent">
		select * from t_hp
	</select>



</mapper>