<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 告诉xml文件，去找哪一个dao -->
<mapper namespace="com.my.programmer.dao.ReceiveDao">
	
	<select id="findByUserName" parameterType="String" resultType="User">
		select * from t_user where username = #{username}
	</select>

	<update id="add" parameterType="StuRepai">
		insert into t_accepted(id,stuName,floorNo,dormNo,phone,retype,discr,state,starttime,workNo)
		values(#{id},#{stuName},#{floorNo},#{dormNo},#{phone},#{retype},#{discr},#{state},#{starttime},#{workNo})
	</update>

	<select id="findList" parameterType="Map" resultType="StuRepai">
		select * from t_accepted where workNo=#{workNo} limit #{offset},#{pageSize}
	</select>

	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(id) from t_accepted
	</select>

	<update id="edit" parameterType="User">
		update t_user set username = #{username},password = #{password} where id=#{id}
	</update>

	<update id="setStuStateById" parameterType="long">
		update t_sturepai set state="任务已被接取" where id=#{id}
	</update>
	<update id="setHpStateById" parameterType="long">
		update t_hprepai set state="已被接取" where id=#{id}
	</update>

	<update id="setStuReManAndReManPhone">
		update t_sturepai set reMan=#{reMan},reManPhone=#{reManPhone} where id=#{id}
	</update>

	<update id="setHpReManAndReManPhone">
		update t_hprepai set reMan=#{reMan},reManPhone=#{reManPhone} where id=#{id}
	</update>

	<update id="setWkstate">
		update t_wkrepai set state="已被接取" where id=#{id}
	</update>

	<select id="findById" resultType="StuRepai">
		select * from t_accepted where id=#{id}
	</select>

	<update id="setStuStateByMap">
		update t_sturepai set state=#{state} where id=#{id}
	</update>

	<update id="setHpStateByMap">
		update t_hprepai set state=#{state} where id=#{id}
	</update>

	<update id="setWkstateByMap">
		update t_wkrepai set state=#{state} where id=#{id}
	</update>

	<update id="setReceivedStateByMap">
		update t_accepted set state=#{state} where id=#{id}
	</update>



</mapper>